target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.mvn
.idea
*.iml

.vscode
.project
.settings
.classpath

# node
node_modules
npm-debug.log
